:root {
    --menu-color: #413e3e;
    --head-color: #3b4046;
    --main-background-color: #1C1E21;
    --track-container-width: 200px;
}

html, body {
    overflow: hidden;
    height: 100%;
    background-color: var(--main-background-color);
}

body {
    scrollbar-color: rgb(107, 107, 107) #2c2c2c;
    scrollbar-width: auto;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menu-bar {
    border: 1px solid black;
    border-top: none;
    background-color: rgb(41, 42, 45);
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 52px;
}

#left-controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 52px;
    min-width: max-content;
}

#right-controls {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: 52px;
    width: 100%;
}

#app {
    display: flex;
    flex-grow: 1;
    height: 0;
    margin-bottom: 0;
    position: relative;
}
#left-container {
    width: 0;
    flex-grow: 1;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}
#audio-loop-browser{
    position: relative;
    font-size: 12px;
    border-right: 1px solid black;
    width: 300px;
    height: 100%;
    transform: translateZ(0);
    display: none;
}
#ToggleButtons{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    width: 52px;
    padding: 6px 6px 32px;
    background-color: rgb(41, 42, 45);
    border-left: 1px solid black;
}

#track-editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-bottom: 1px solid black;
}

#track-container {
    min-width: var(--track-container-width);
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgb(23, 23, 26);
    min-height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#track-container::-webkit-scrollbar {
    display: none;
}

#track-container track-element:nth-child(2) {
    margin-top: 25px;
}

#track-container .new-track:nth-child(2) {
    margin-top: 34px;
}

#track-container-header {
    position: absolute;
    min-height: 25px;
    min-width: 200px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: var(--head-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#editor {
    width: calc(100% - var(--track-container-width));
    height: 100%;
    display: flex;
    flex-direction: column;
}

#editor-content {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

#editor-canvas {
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 100%;
    width: inherit;
}

#automation-container {
    position: absolute;
    /* padding-top: 25px; */
    padding-bottom: 143px;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    pointer-events: none;
}

#plugin-editor {

    height: 25px;
    transform: translateZ(0);
    border: 1px solid black;
    background: rgb(23, 23, 26);
}

#plugin-container-header {
    min-height: 25px;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: var(--head-color);
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#header-main-track {
    min-width: 200px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#plugins {
    width: 100%;
    height: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}


#main-track {
    min-width: 200px;
    background: rgb(23, 23, 26);
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#vu-meter {
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#vu-meter-canvas{
    border: 1px solid #313131;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#loading-zone {
    position: absolute;
    top: 300px;
    left: 300px;
    z-index: -100;
}

#songs-container {
    overflow-y: auto;
    max-height: 350px;
}


/* CUSTOM ELEMENTS */

track-element {
    display: flex;
    width: 100%;
    min-height: 120px;
    max-height: 120px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background: rgb(44, 44, 44);
    border: solid 1px black;
}



.menu-item {
    min-width: 55px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
  /*  -webkit-touch-callout: none; /* iOS Safari */
  /*    -webkit-user-select: none; /* Safari */
    /*   -khtml-user-select: none; /* Konqueror HTML */
      /*   -moz-user-select: none; /* Old versions of Firefox */
        /*  -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

.menu-item:hover {
    cursor: pointer;
    background-color: rgb(79, 81, 86); 
}

.menu-item.main {
    background-color: rgb(80, 93, 202);
}

.menu-item.main:hover {
    background-color: rgb(92, 105, 204);
}

.timer-item {
    border-left: solid 1px rgb(111, 111, 111);
    border-right: solid 1px rgb(111, 111, 111);
    padding-left: 17px;
    padding-right: 17px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    max-width: 212px;
    min-width: 212px;
}

.timer {
    font-family: Helvetica, monospace;
    color: rgb(80, 93, 202);
    font-size: 30px;
}

.timer-item.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.slider-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center; 
    min-width: 160px;
    max-width: 160px;
    margin-top: 20px;
}

.icon {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    pointer-events: none;
}

.dropdown-menu {
    background: rgb(41, 42, 45) !important;
    cursor: pointer !important;
}

.dropdown-item {
    color: lightgray !important;
}
.dropdown-item:hover {
    background: rgb(79, 81, 86) !important;
}



.text-icon {
    padding-left: 15px;
    color: lightgrey;
    font-size: 13px;
    font-weight: bold;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.new-track {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 190px;
    min-height: 80px;
    margin: 8px;
    background: transparent;
}

.new-track-text {
    color: lightgrey;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.new-track:hover {
    background: rgb(80, 93, 202);
    cursor: pointer;
}

  
.menu-item .mytooltip {
    visibility: hidden;
    width: auto;
    background-color: rgb(107, 107, 107);
    color: lightgrey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    display: flex;
    flex-wrap: nowrap;

    /* Position the tooltip */
    position: absolute;
    z-index: 20;
    top: 110%;
    right: 0px;

    transition: 0s visibility;
  }
  
.menu-item:hover .mytooltip {
    visibility: visible;
    transition: 1s linear;
    /* transition-delay: 0.3s; */
}

.resize-icon {
    padding-right: 10px;
    position: absolute;
    right: 0;
    -webkit-user-select: none;
    cursor: ns-resize;
}

#min-max-btn {
    cursor: pointer;
    padding-right: 10px;
    position: absolute;
    right: 0px;
}

.floating-window {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 20;
    border: 1px solid #000;
    background: #212529;
}

.header-window {
    height: 30px;
    background-color: #3b4046;
    cursor: move;
    color: lightgrey;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
}

.title {
    float: left;
    margin: 2px 10px;
}

.close-button {
    float: right;
    margin: 2px 10px;
}

#mount {
    padding: 10px;
}



#drag-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 999;
    background-color: rgba(255,255,255,0.3);
}

#drag-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 143px;
    min-height: 80px;
    margin: 8px;
}

#automation-menu {
    position: absolute;
    background-color: rgba(70, 70, 70, 0.61);
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    border-radius: 5px;
}
.automation-item {
    width: 100%;
    background-color: rgba(70, 70, 70, 0.61);
    color: lightgray;
    position: relative;
    padding-left: 16px;
}

.automation-item:hover {
    background-color: rgba(98, 97, 97, 0.61);
    cursor: pointer;
}

.automation-item.active {
    background-color: rgba(98, 97, 97, 0.61);
    color: white;
}

.dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    visibility: hidden;
}

.automation-item.active .dot {
    visibility: visible;
}

li {
    list-style-type: none;
    padding: 0;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
    list-style-type: none;
}

.automation-location {
    z-index: 1;
    width: 100%;
    min-height: 120px;
    pointer-events: none;
    display: flex;
}

.event-active {
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.21);
}

canvas {
    grid-column-start: 1;
    grid-row-start: 1;
}

.settings-body {
    color: lightgrey;
    min-width: 400px;
    min-height: 300px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.settings-tiny-item-text {
    font-size: 9px;
    overflow-wrap: normal;
    max-width: 385px;
}

.settings-small-item-text {
    font-size: 12px;
    max-width: 385px;
}

.select-input {
    width: 250px;
}

/* Styles for the loading screen */
body.loading > *:not(.loading-overlay) {
    filter: blur(3px);
    pointer-events: none;  /* This prevents interactions with blurred elements */
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95); /* Dark background with 75% opacity */
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-wheel {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.loading-text {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: lightgray;
}

.zoom-disabled {
    pointer-events: none;
    filter: blur(4px);
}

.zoom-enabled {
    pointer-events: auto;
    filter: none;
}

#vu-meter {
    width:157px;
    height: 35px;
}